google-api-core==1.26.1
google-auth==1.27.1
google-cloud==0.34.0
google-cloud-core==1.6.0
google-cloud-datastore==2.1.0
google-cloud-storage==1.36.2
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
